.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 75.7576px;
  background-color: var(--color-select);
  color: #fff;
  padding: 21px 5px;
  border: 1px solid var(--color-select);
  cursor: pointer;
  transition: 0.3s;
  width: 100%;

  &:hover {
    background-color: #fff;
    p {
      color: var(--color-select);
      transition: 0.3s;
    }
    span {
      transform: translateX(3px) translateY(-3px);
      &::before {
        color: var(--color-select);
      }
    }
  }

  p {
    font-family: var(--font-text-3);
    font-weight: 800;
    font-size: 16.9739px;
    line-height: 16px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }

  span {
    font-size: 12px;
    margin-left: 11px;
    transition: 0.3s;
  }
}
