body {
  color: var(--color-dark);
  font-family: var(--font-text);
  font-weight: normal;
  &.lock {
    overflow: hidden;
  }
}

.container {
  width: 100%;
  max-width: 1365px;
  margin: 0 auto;
  padding: 0 15px;
}
