:root {
  //fonts
  --font-text: 'Montserrat', sans-serif;
  --font-text-2: 'Roboto', sans-serif;
  --font-text-3: 'NeueMachina', sans-serif;

  //color
  --color-dark: #262427;
  --color-light: #e5e6e9;
  --color-select: #e24725;
}
